@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}

@*Homepage with heading and image*@
<h1>@ViewBag.Title</h1>

<div>
    <p>Today is your lucky day! </p>
    <br />
    <img src="~/JoelHilton.jpg" />
</div>
